Binaries
DerivedDataCache
Intermediate
Saved
Build
Config
Content
!Plugins/Mods/363VD_Core/Content
!Plugins/Mods/363VD_Core/Saved
Releases
Saved
ServerConfig
Playground
Targnon_363VD
OffworldCore
PostScriptum.png
PostScriptum.uproject
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.editorconfig